In [20]:
import json
import requests
import pandas as pd
from pprint import pprint

In [21]:
url = f'https://crashviewer.nhtsa.dot.gov/CrashAPI/crashes/GetCrashesByLocation?fromCaseYear=2014&toCaseYear=2014&state=6&county=7&format=json'
response = requests.get(url).json()

In [22]:
county_fatals = []
county_numbers = [7,25,37,59,61,89,73,75]
county_list = ['Butte','Imperial','Los Angeles','Orange','Placer','Shasta','San Diego','San Francisco']

url = 'https://crashviewer.nhtsa.dot.gov/CrashAPI/crashes/GetCrashesByLocation?'
url_year = 'fromCaseYear=2014&toCaseYear=2014'
url_state = '&state=6'

for county in county_numbers:
        query1 = url + url_year + url_state + f'&county={county}&format=json' 
        response = requests.get(query1).json()
        cities = response['Results'][0]
        cities = pd.DataFrame(cities)
        county_fatals.append(cities['FATALS'].astype(int).sum())

In [23]:
county_fatals_df = pd.DataFrame({'County' : county_list, '2014' : county_fatals})

In [28]:
county_numbers = [7,25,37,59,61,89,73,75]

county_list = [
'Butte'
,'Imperial'
,'Los Angeles'
,'Orange'
,'Placer'
,'Shasta'
,'San Diego'
,'San Francisco'
]

year_list = [2013,2014,2015,2016,2017,2018,2019]

county_fatals_df = pd.DataFrame({'County' : county_list})

url = f'https://crashviewer.nhtsa.dot.gov/CrashAPI/crashes/GetCrashesByLocation?'
url_state = '&state=6'


for year in year_list:
    county_fatals = []
    for county in county_numbers:
        query1 = url + f'fromCaseYear={year}&toCaseYear={year}' + url_state + f'&county={county}&format=json' 
        response = requests.get(query1).json()
        cities = response['Results'][0]
        cities = pd.DataFrame(cities)
        county_fatals.append(cities['FATALS'].astype(int).sum())
    county_fatals_df[f'{year}'] = county_fatals

In [29]:
county_fatals_df

          County  2013  2014  2015  2016  2017  2018  2019
0          Butte    21    24    33    36    40    36    34
1       Imperial    28    46    28    34    25    37    32
2    Los Angeles   625   639   651   837   751   733   716
3         Orange   186   173   183   204   210   206   182
4         Placer    21    13    21    40    30    29    24
5         Shasta    24    22    40    26    30    32    35
6      San Diego   198   233   246   243   240   267   253
7  San Francisco    35    33    38    36    25    27    39